.search {
  width: 80%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid crimson;
  border-radius: 4px;
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
}

.search:focus {
  color: cornflowerblue;
}

.danger-text {
  color: red
}